.data_section{
    text-align: center;
}
.container{
    /* position: absolute; */
}
*{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
    background-color: #171717;
}
img{
    position: absolute;
    z-index: -1;
    
}
